<div class="container-fluid">
    <div class="container">
      <form [formGroup]="formRedefineSenha">
          <div class="form-group">
              <input type="text" class="form-control" formControlName="login" aria-describedby="loginHelp" placeholder="Login">
            </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="senha" aria-describedby="loginHelp" placeholder="Senha">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="confirmacao" placeholder="Confirmação de senha">
        </div>
        <div class="btn-toolbar center-block col-md-12" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-secondary" (click)="redefineSenha(formRedefineSenha.value)" [disabled]="!formRedefineSenha.valid">Salvar</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary"><a [routerLink]="['/home']" routerLinkActive="router-link-active">Voltar</a></button>
          </div>
        </div>
      </form>
    </div>
  </div>