<div class="container-fluid hero-image">
  <h1 class="text-center hero-text">QUEM SOMOS</h1>
  <div class="text-center container hero-text-p">
    <p>
      Somos pessoas apaixonadas por livros e que, por conta da correria do dia-a-dia, nem sempre tem tempo de
      dar uma pausa e desfrutar da companhia de um bom exemplar.
    </p>
    <p>
      Por isso criamos um sistema que te ajuda a organizar seu tempo de leitura. Nele você pode cadastrar
      seus livros preferidos, se desafiar propondo metas de leitura, além de registrar seus períodos diários 
      com o livro queridinho do momento.
    </p>
    <p>
      Por fim, oferecemos a você um feedback de suas leituras e metas!
    </p>
    <h3>Boa leitura!!</h3>
</div>
</div>

