div.container{
    justify-content: center;
    display: flex;
}

form {
    margin-top: 70px;/* 
    align-content: center;
    vertical-align: middle; */
}

div.container-fluid {
    background-image: url('../../assets/imagens/cadastro.jpg');
    height: inherit;
    min-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.7;
}

a {
    border: none;
    font-size: 1rem;
    color: white;
    text-decoration-line: none;
}

span {
    font-weight: bold;
    color: black;
}

label, p{
    color:black;
}

div.lista {
    background-color: white
}

div.box {
    margin: 10px 0px;
}