<div class="container-fluid">
  <div class="container">
    <form [formGroup]="livroForm" novalidate>
      <div class="form-row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="titulo" placeholder="Título">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="autor" placeholder="Autor">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="editora" placeholder="Editora">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <input type="text" class="form-control" formControlName="sinopse" placeholder="Sinopse">
        </div>
        
        <div class="form-group col-md-2">
          <select class="form-control" formControlName="avaliacao" placeholder="Avaliação">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
      <div class="btn-toolbar center-block" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button class="btn btn-secondary" (click)="inserirLivro(livroForm.value)" [disabled]="!livroForm.valid">Cadastrar</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-secondary"><a [routerLink]="['/home']" routerLinkActive="router-link-active">Voltar</a></button>
        </div>
      </div>
    </form>
  </div>
</div>