<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="usuariologado()">Perfil</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/perfil']" routerLinkActive="router-link-active">Visualizar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="usuariologado()">Livro</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/cadastrarLivro']" routerLinkActive="router-link-active">Cadastrar</a>
          <a class="dropdown-item" [routerLink]="['/alterarLivro']" routerLinkActive="router-link-active">Alterar</a>
          <a class="dropdown-item" [routerLink]="['/listaLivro']" routerLinkActive="router-link-active">Listar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="usuariologado()">Meta de Leitura</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/metaleituracadastro']" routerLinkActive="router-link-active" >Cadastrar</a>
          <a class="dropdown-item" [routerLink]="['/metaleituraalteracao']" routerLinkActive="router-link-active" >Alterar</a>
          <a class="dropdown-item" [routerLink]="['/listametaleitura']" routerLinkActive="router-link-active" >Listar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" *ngIf="usuariologado()">Período de Leitura</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/periodoleituracadastro']" routerLinkActive="router-link-active" >Cadastrar</a>
          <a class="dropdown-item" [routerLink]="['/listaperiodoleitura']" routerLinkActive="router-link-active" >Listar</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">Sobre Nós</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" *ngIf="usuariologado()">Logout</button>
    </form>
  </div>
</nav>